.ContactsPage {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1px black;
    padding-bottom: 1%;

    .title {
      flex: 0.5;
      display: flex;
      justify-content: flex-start;
      font-size: 30px;
      font-weight: bolder;
    }
  }
  .subPart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .subPart {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
  }
  .notifyDiv {
    margin-left: 2%;
  }
  .accountDiv {
    margin-left: 2%;
  }
  .userName {
    margin-left: 2%;
  }
  #accountIcon {
    font-size: 50px;
  }
  #notifyIcon {
    font-size: 20px;
  }

  .bodyA {
    margin-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .contactBtn,
  .groupBtn,
  .createBtn {
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    cursor: pointer;
  }
  .contactBtn[show="contacts"] {
    border-bottom: solid 2px black;
  }
  .groupBtn[show="groups"] {
    border-bottom: solid 2px black;
  }
  .groupBtn {
    margin-left: 1%;
  }
  .btnsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .viewDiv,
  .createDiv {
    flex: 0.5;
  }
  .createDiv {
    display: flex;
    justify-content: flex-end;
  }
  .bodyB {
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .tableDiv {
    // border: solid 2px black;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 1%;
    padding: 1%;
    border-radius: 30px;
    background-color: white;
    box-shadow: -14px 7px 48px -12px rgba(0, 0, 0, 0.75);
  }
  table,
  thead {
  }
  .tableDiv::-webkit-scrollbar {
    width: 5px;
  }
  .tableDiv::-webkit-scrollbar-track {
    color: black;
  }
  .tableDiv::-webkit-scrollbar-thumb {
    width: 7px;
    color: blue;
  }
  .tableDevices {
    width: 100%;
  }

  table,
  thead,
  tbody,
  tr,
  th,
  td {
    border-bottom: solid 1px black;
    border-collapse: collapse;
  }

  .tdA {
    text-align: center;
  }
  .tdE {
    text-align: center;
  }
  td,
  th {
    padding: 5px;
  }

  .thB,
  .thC,
  .thD {
    text-align: left !important;
  }

  .inputSearch {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    border-radius: 30px;
    padding: 6px;
    border: none;
    // box-shadow: -14px 7px 48px -12px rgba(0, 0, 0, 0.75);
  }
  .inputSearch:focus {
    outline-width: 0;
    border: none;
  }
  .totalDiv {
    margin-top: 1%;
    padding: 1%;
    width: 25%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    box-shadow: -14px 7px 48px -12px rgba(0, 0, 0, 0.75);
    border-bottom: solid 2px black;
  }
  .partA {
    flex: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .partB {
    flex: 0.1;
  }
  .subPartA {
    font-size: 20px;
  }
  #phoneIcon {
    font-size: 45px;
  }
  thead {
    background-color: white;
    position: sticky;
    z-index: 0;
    top: 0;
  }
}

#createModalDiv {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: white !important;
  border-radius: 30px;
  padding: 1%;
  .createTitle {
    font-size: 20px;
    font-weight: 900;
  }
  .spanX {
    border-bottom: solid 1px black;
  }
  #outlined-basic {
    padding: 5%;
  }
  .nameDiv {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
  }
  .titleDiv {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
  }
  .grpDiv {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    .spanText {
      margin-bottom: 5px;
    }
  }
  .finalCreateDiv {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8%;
    text-align: center;
  }
  .spanText {
    font-size: 20px;
  }
  .MuiInputBase-colorPrimary {
    border: solid 1px black;
    border-radius: 20px;
  }
  fieldset {
    border: solid 1px lightgray;
  }
  .MuiAutocomplete-root {
    width: 195px;
  }
  #combo-box-demo {
    padding: 0%;
  }
  #finalSubmit {
    text-transform: none;
  }
}
