.devicesPage {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .subPart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .title {
    flex: 0.5;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bolder;
  }
  .subPart {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
  }
  .notifyDiv {
    margin-left: 2%;
  }
  .accountDiv {
    margin-left: 2%;
  }
  .userName {
    margin-left: 2%;
  }
  .bodyA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    .totalDiv,
    .activeDiv,
    .unactiveDiv {
      padding: 1%;
      width: 25%;
      height: 100px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 30px;
      box-shadow: -14px 7px 48px -12px rgba(0, 0, 0, 0.75);
    }
    .partA {
      flex: 0.9;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .partB {
      flex: 0.1;
    }
  }
  .bodyB {
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .tableDiv {
    // border: solid 2px black;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 1%;
    padding: 1%;
    border-radius: 30px;
    background-color: white;
    box-shadow: -14px 7px 48px -12px rgba(0, 0, 0, 0.75);
  }
  table,
  thead {
  }
  .tableDiv::-webkit-scrollbar {
    width: 5px;
  }
  .tableDiv::-webkit-scrollbar-track {
    color: black;
  }
  .tableDiv::-webkit-scrollbar-thumb {
    width: 7px;
    color: blue;
  }
  .tableDevices {
    width: 100%;
  }

  table,
  thead,
  tbody,
  tr,
  th,
  td {
    border-bottom: solid 1px black;
    border-collapse: collapse;
  }

  .tdA {
    text-align: center;
  }
  .tdE {
    text-align: center;
  }
  td,
  th {
    padding: 5px;
  }
  #accountIcon {
    font-size: 50px;
  }
  #notifyIcon {
    font-size: 20px;
  }
  .inputSearch {
    font-size: 20px;
    font-family: "Nunito Sans", sans-serif;
    border-radius: 30px;
    padding: 6px;
    border: none;
    // box-shadow: -14px 7px 48px -12px rgba(0, 0, 0, 0.75);
  }
  .inputSearch:focus {
    outline-width: 0;
    border: none;
  }
  #phoneIcon {
    font-size: 45px;
  }
  #activeIcon {
    font-size: 45px;
  }
  #inActiveIcon {
    font-size: 45px;
  }
  .subPartA {
    font-size: 20px;
  }
  .greenRound {
    color: green;
    margin-right: 2%;
  }
  .redRound {
    color: red;
    margin-right: 2%;
  }
  thead {
    // background-image: linear-gradient(
    //   160deg,
    //   hsl(0deg 0% 100%) 0%,
    //   hsl(169deg 100% 95%) 27%,
    //   hsl(170deg 100% 89%) 87%,
    //   hsl(171deg 100% 82%) 97%,
    //   hsl(172deg 100% 72%) 100%,
    //   hsl(174deg 100% 50%) 100%
    // );
    background-color: white;
    position: sticky;
    z-index: 0;
    top: 0;
  }
  #scanIcon {
    margin-right: 3%;
  }
  #editIcon {
    margin-right: 2%;
  }
  #deleteIcon {
  }
}
